.product-view {
  width: 180px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  padding: 5px;
  font-size: .85rem;
  position: relative;
}

.product-view .img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #b4b4b4;
  align-self: center;
}

.product-view .title {
  color: #2c2c2c;
  text-transform: uppercase;
  text-align: center;
}

.product-view .description {
  text-align: justify;
  color: #5c5c5c;
}

.product-view .value {
  font-size: .65rem;
  text-align: center;
  max-width: 80px;
}

.product-view .favorite-button {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
}