#root {
  --background-color: #f0f0f0;
  --button-color: #2C5288;
  --red-color: #E63946;
  --primary-color: #457B9D;
  --secundary-color: #1D3557;
  --white-color: #cacad0;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  outline: none;
  margin: 0;
  border: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}